<%- include('./include/head.ejs') %>

</head>
<body>

    <form action="/v1/checkout" method="POST">
      <input type="radio" id="basic" name="product" value="basic" />
      <label for="basic">Basic for $10</label>
      <br />
      <input type="radio" id="pro" name="product" value="pro" />
      <label for="pro">Pro for $12</label>
      <br />
      
      <button class="btn btn-primary" id="checkout-button" type="submit">
        Buy now
      </button>
    </form>

<%- include('./include/end.ejs') %>